<section>
  <div class="column">
    <h2>Odebírat newsletter</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Váš email' %>
        <br/>
        <%= f.button :submit, "Přihlásit do mailing listu", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
